#app {
    width: 80%; /* Ajusta el ancho según tus preferencias */
    max-width: 600px; /* Establece un ancho máximo para mantenerlo legible */
    margin: 0 auto; /* Margen automático en los lados para centrar horizontalmente */
    text-align: center; /* Alinea el contenido al centro */
}


body {
    font-family: 'Georgia', serif; /* Otra vez, puedes cambiar la fuente según tus preferencias */
    background-color: #f3f3f3;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/5278b973057517.5bfd226687bb7.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */

    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 40px; /* Aumentar el espacio interno */
    max-width: 600px; /* Tamaño máximo del contenedor */
    position: relative;
    z-index: 1; /* Para estar sobre el fondo animado */
    margin: 0 auto; /* Centrar horizontalmente */
}

/* Fondo animado de nubes */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5; /* Ajusta la opacidad según tus preferencias */
    pointer-events: none; /* Evitar eventos en el fondo animado */
}

.title {
    color: #ff6f61;
    font-size: 2em;
    margin-bottom: 20px;
}

.todo-input {
    padding: 10px;
    margin: 10px 0;
    width: 70%;
    border: 2px solid #ff6f61;
    border-radius: 5px;
    outline: none;
}

.todo-input:focus {
    border-color: #f44236;
}

.add-button, .delete-button, .update-button, .completed-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 0 5px 10px 5px; /* Añadir un margen inferior al botón de agregar */
    transition: background-color 0.3s ease;
}

.add-button {
    background-color: #4CAF50;
    color: #fff;
}

.delete-button {
    background-color: #EF5350;
    color: #fff;
}

.update-button {
    background-color: #FDD835; /* Cambiado a azul oscuro */
    color: #fff;
}

.completed-button {
    background-color: #1E88E5; /* Cambiado a azul oscuro */
    color: #fff;
}

.add-button:hover {
    background-color: #388E3C;
}

.delete-button:hover {
    background-color: #E53935;
}

.update-button:hover {
    background-color: #F9A825;
}

.completed-button:hover {
    background-color: #1565C0;
}

/* Efecto al pasar el ratón sobre los botones
.add-button:hover, .delete-button:hover, .update-button:hover {
    filter: brightness(1.2);
} */

/* Estilos adicionales para una apariencia más atractiva */

.add-button::before {
    content: '\002B'; /* Símbolo de suma para el botón de agregar */
}

.update-button::before {
    content: '\2713'; /* Símbolo de marca de verificación */
    margin-right: 5px;
}



.delete-button::before {
    content: '\2716'; /* Símbolo de multiplicación (X) para representar eliminar */
    margin-right: 5px;
}

/* Estilos específicos para el botón de actualizar */
.update-button {
    font-weight: bold;
}

/* Estilos para los botones en modo oscuro */
.mode-nocturno .add-button, .mode-nocturno .delete-button, .mode-nocturno .update-button {
    color: #000;
    background-color: #ddd;
}

/* Efecto al pasar el ratón sobre los botones en modo oscuro */
.mode-nocturno .add-button:hover, .mode-nocturno .delete-button:hover, .mode-nocturno .update-button:hover {
    filter: brightness(0.8);
}